body {
    background-color: rgb(96, 96, 96);
}

.painting-01-grid {
    display: grid;
    width: 600px;
    height: 600px;
    grid-template: repeat(15, 1fr)/repeat(15, 1fr);

}

<!--Colour Palette-->

.cream {
    background: #fff9e7;
}

.red {
    background: #E94734 ;
}

.blue {
    background: #3A94C0 ;
}

.yellow {
    background: #F7DE00 ;
}



<!--Demarcations-->

.section-1 {
    grid-area: 1/1/5/4;
}

.section-2 {
    grid-area: 1/4/12/16;
}

.section-3 {
    grid-area: 5/1/12/4;
}

.section-4 {
    grid-area: 12/1/16/4;
}

.section-5 {
    grid-area: 12/4/16/15;
}

.section-6 {
    grid-row: span 2;
}

.section-7 {
    grid-row: span 2;
}