body {
    background-color: rgb(158, 158, 158);
}


.painting-01-grid {
    display: grid;
    width: 600px;
    height: 600px;
    grid-template: repeat(15, 1fr)/repeat(15, 1fr);


/* COLOURS */

.red {
   background: #e94734;

}

.cream {
    background: #FFF9E7;
}

.blue {
    background: #3A94C0;
}

.yellow {
    background: #F7DE00;
}


/* BORDERS */


.border-right {
    border-right: 15px solid #4B4444;
}

.border-bottom {
    border-bottom: 15px solid #4B4444;
}


/* SECTIONS */


.section-1 {
    grid-area: 1/1/5/4;
}

.section-2 {
    grid-area: 1/4/12/16;
}

.section-3 {
    grid-area: 5/1/12/4;
}

.section-4 {
    grid-area: 12/1/16/4;
}

.section-5 {
    grid-area: 12/4/16/15;
}

.section-6 {
    grid-row: span 2;
}

.section-7 {
    grid-row: span 2;
}

}

.painting-02-grid {
    display: grid;
    width: 600px;
    height: 600px;
    grid-template: repeat(10, 1fr)/repeat(10, 1fr);


/* COLOURS */

.lightblue {
   background: #bbcdd1;
}

.cream {
    background: #f4f8df;
}

.yellow {
    background: #deb329;
}

.blue {
    background: #0221ca;
}


/* BORDERS */


.border-right {
    border-right: 15px solid #000000;
}

.thin-border-right {
    border-right: 2px solid #000000;
}

.border-bottom {
    border-bottom: 15px solid #000000;
}

.thin-border-bottom {
    border-bottom: 2px solid #000000;
}


/* SECTIONS */


.section-1-1 {
    grid-area: 1/1/2/2;
}
.section-1-2 {
    grid-area: 2/1/3/2;
}
.section-1-3 {
    grid-area: 3/1/4/2;
}
.section-1-4 {
    grid-area: 4/1/5/2;
}
.section-1-5 {
    grid-area: 5/1/6/2;
}
.section-1-6 {
    grid-area: 6/1/7/2;
}
.section-1-7 {
    grid-area: 7/1/8/2;
}
.section-1-8 {
    grid-area: 8/1/9/2;
}
.section-1-9 {
    grid-area: 9/1/10/2;
}
.section-1-10 {
    grid-area: 10/1/11/2;
}
.section-1-11 {
    grid-area: 1/2/2/3;
}
.section-1-12 
    grid-area: 2/2/3/3;
}
.section-1-13 {
    grid-area: 3/2/4/3;
}
.section-1-14 {
    grid-area: 4/2/5/3;
}
.section-1-15 {
    grid-area: 5/2/6/3;
}
.section-1-16 {
    grid-area: 6/2/7/3;
}
.section-1-17 {
    grid-area: 7/2/8/3;
}
.section-1-18 {
    grid-area: 8/2/9/3;
}
.section-1-19 {
    grid-area: 9/2/10/3;
}
.section-1-20 {
    grid-area: 10/2/11/3;
}




.section-2 {
    grid-area: 1/3/8/6;
}

.section-3 {
    grid-area: 8/3/11/6;
}

.section-4 {
    grid-area: 1/6/4/11;
}

.section-5 {
    grid-area: 4/6/8/9;
}

.section-6 {
    grid-area: 8/6/11/9;
}

.section-7 {
    grid-area: 4/9/11/11;
}

}

.painting-03-grid {
    display: grid;
    width: 600px;
    height: 600px;
    grid-template: repeat(10, 1fr)/repeat(10, 1fr);

/* COLOURS */

.green {
   background: #1b6f57;
}

.purple {
    background: #8029e4;
}

.black {
    background: #000000;
}

.pink {
    background: #eb85e4;
}

.white {
    background: white;
}

.yellow {
    background: #ffcc00;
}

.limegreen{
    background: #7be13f;
}

.red {
    background: #e33020;
}

.blue {
    background: #2d70db;
}

/* SECTIONS */


.section-1 {
    grid-area: 1/1/9/3;
}

.section-2 {
    grid-area: 9/1/11/5;
}

.section-3 {
    grid-area: 1/3/3/11;
}

.section-4 {
    grid-area: 3/3/5/5;
}

.section-5 {
    grid-area: 3/5/5/7;
}

.section-6 {
    grid-area: 5/3/9/7;
}

.section-7 {
    grid-area: 9/5/11/9;
}

.section-8 {
    grid-area: 3/7/9/9;
}

.section-9 {
    grid-area: 3/9/11/11;
}

}








